@import './normalize.scss';
@import './reset.scss';
@import './fonts.scss';

body {
    font-family: system-ui;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(
      330deg,
      hsl(272, 53%, 50%) 0%,
      hsl(226, 68%, 56%) 100%
    );
}