//yellow
$yellowHovered: var(--theme-yellowHovered);
$yellowPrimary: var(--theme-yellowPrimary);
$yellow10: var(--theme-yellow10);
$yellow5: var(--theme-yellow5);

//peach
$peach: var(--theme-peach);
$peach30: var(--theme-peach30);
$peach10: var(--theme-peach10);
$peach5: var(--theme-peach5);

//blue
$blue: var(--theme-blue);
$blue30: var(--theme-blue30);
$blue10: var(--theme-blue10);
$blue5: var(--theme-blue5);

//green
$green: var(--theme-green);
$green30: var(--theme-green30);
$green10: var(--theme-green10);
$green5: var(--theme-green5);

//red
$red: var(--theme-red);
$red30: var(--theme-red30);
$red10: var(--theme-red10);
$red5: var(--theme-red5);

//text
$textBlack: var(--theme-textBlack);
$textGrey: var(--theme-textGrey);
$textDisabled: var(--theme-textDisabled);

//disabled
$disabled: var(--theme-disabled);

//Fields, Divider
$divider: var(--theme-divider);

$light-red: #f08888;
$light-green: #a7e7c5;
$light-grey-blue: #667992;
$info: #ff8e53;
$delete-border-red: #f3c3c3;
$error: #d51f1f;
$white: #ffffff;
$pen-blue-color: #154c95;
$light-grey: #f6f6f7;
$light-blue: #004a9a;
